
<div class="container">
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Products Info
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <button class="btn btn-info" ng-click="vm.toggleImages()">
                                {{vm.showImages ? "Hide" : "Show"}} Images
                            </button>
                        </th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <div>
                        Search: <input type="text" ng-model="searchText.productName">
                    </div>
                    <tr ng-class="{odd: $even}"
                        ng-repeat="p in vm.products | filter:searchText | orderBy:'-productName'">
                        <td ng-class-odd="odd">{{$index + 1}}</td>
                        <td>
                            <img ng-src="{{p.imageUrl}}" width="50" ng-if="vm.showImages">
                        </td>
                        <td>
                            <a ng-href="#/productDetails/{{p.productId}}">{{p.productName}}</a>
                        </td>
                        <td>{{p.description | reverseString:'false'}}</td>
                        <td>{{p.price | currency}}</td>
                        <td>
                            {{$middle}}
                        </td>
                    </tr>
                </tbody>
            </table>
            {{vm.cTime | date:'short' }}<br/>
            {{vm.cTime | date:'longDate' }}<br/>
            {{vm.cTime | date:'yyyy-MM-dd' }}
        </div>
    </div>
    <input type="text" ng-model="temp1" ng-list="he">
    {{temp1}}
</div>

<style>
    .odd {
        background-color: lightgray;
    }
</style>
