
<div class="container" ng-controller="TodoCtrl as vm">
    <h2>
        Todo App [ {{vm.doneItems()}} of {{vm.todoItems.length}} ]
        <hr/>
        <ol>
            <li ng-repeat="todoItem in vm.todoItems">
                <input type="checkbox" ng-model="todoItem.status">
                <span class="status-{{todoItem.status}}">{{todoItem.msg}}</span>
            </li>
        </ol>
        <input type="text" ng-model="vm.newMsg">
        <button ng-click="vm.addNewItem()" ng-disabled="vm.newMsg.length == 0">Add</button>
    </h2>
</div>
<style>
    .status-true {
        color: red;
        text-decoration: line-through;
    }
</style>