<!DOCTYPE html>
<html ng-app="todo">

<head>
    <script src="/scripts/angular.js"></script>
    <script src="todo.js"></script>

    <link rel="stylesheet" href="/styles/bootstrap.css">
</head>

<body class="container" ng-controller="TodoCtrl as vm">
    <h2>
        Todo App
        <hr/>
        <!-- {{vm.todoItems}} -->
        <ul>
            <li ng-repeat="todoItem in vm.todoItems">
                <input type="checkbox" ng-model="todoItem.status">
                {{todoItem.msg}}
            </li>
        </ul>
    </h2>
</body>

</html>